@import "tailwindcss";

:root {
  --light: #ffffff;
  --dark: #212121;
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  font-family: Poppins, Arial, Helvetica, sans-serif;
}

.btn-retro {
  border: 2px solid var(--dark);
  padding: 0.5rem 1rem; /* px-4 py-2 */
  box-shadow: -4px 4px 0 var(--dark);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.btn-retro:hover {
  transform: translate(-4px, 4px); /* move into the shadow space */
  box-shadow: none; /* shadow disappears */
}

/* Shape Divider */
.custom-shape-divider-top-1758642487 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1758642487 svg {
    position: relative;
    display: block;
    width: calc(144% + 1.3px);
    height: 96px;
}

.custom-shape-divider-top-1758642487 .shape-fill {
    fill: #FFFFFF;
}

.custom-shape-divider-top-1758651343 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1758651343 svg {
    position: relative;
    display: block;
    width: calc(144% + 1.3px);
    height: 96px;
}

.custom-shape-divider-top-1758651343 .shape-fill {
    fill: #212121;
}