@import "tailwindcss";

:root {
  --light: #ffffff;
  --dark: #212121;
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  font-family: Poppins, Arial, Helvetica, sans-serif;
}

.btn-retro {
  border: 2px solid var(--dark);
  padding: 0.5rem 1rem; /* px-4 py-2 */
  box-shadow: -4px 4px 0 var(--dark);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.btn-retro:hover {
  transform: translate(-4px, 4px); /* move into the shadow space */
  box-shadow: none; /* shadow disappears */
}

/* Shape Divider */
.custom-shape-divider-top-1758642487 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1758642487 svg {
    position: relative;
    display: block;
    width: calc(144% + 1.3px);
    height: 96px;
}

.custom-shape-divider-top-1758642487 .shape-fill {
    fill: #FFFFFF;
}

.custom-shape-divider-top-1758651343 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1758651343 svg {
    position: relative;
    display: block;
    width: calc(144% + 1.3px);
    height: 96px;
}

.custom-shape-divider-top-1758651343 .shape-fill {
    fill: #212121;
}

/* Custom divider Animation */

.custom-shape-divider-top-1758642487 path:nth-child(1) {
  animation: wave1 2s ease-in-out infinite alternate;
}
.custom-shape-divider-top-1758642487 path:nth-child(2) {
  animation: wave2 3s ease-in-out infinite alternate;
}
.custom-shape-divider-top-1758642487 path:nth-child(3) {
  animation: wave3 4s ease-in-out infinite alternate;
}

@keyframes wave1 {
  0% { transform: translateX(0px); }
  100% { transform: translateX(-10px); }
}
@keyframes wave2 {
  0% { transform: translateX(0px); }
  100% { transform: translateX(-30px); }
}
@keyframes wave3 {
  0% { transform: translateX(0px); }
  100% { transform: translateX(-20px); }
}

/* Sound wave animation */

.indicator-line {
  height: 0.25rem;        
  width: 1px;             
  border-radius: 9999px;  
  background-color: #000; 
  transition-property: all;
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


.indicator-line.active {
  animation: indicator-line 0.5s ease infinite;
  animation-delay: calc(var(--animation-order) * 0.1s);
}

@keyframes indicator-line {
  0% {
    height: 4px;
    transform: translateY(-0px);
  }
  50% {
    height: 16px;
    transform: translateY(-4px);
  }
  100% {
    height: 4px;
    transform: translateY(-0px);
  }
}

/* https://uiverse.io/G4b413l/tidy-walrus-92 */
.three-body {
  --uib-size: 35px;
  --uib-speed: 0.8s;
  --uib-color: #5d3fd3;
  position: relative;
  display: inline-block;
  height: var(--uib-size);
  width: var(--uib-size);
  animation: spin78236 calc(var(--uib-speed) * 2.5) infinite linear;
}

.three-body__dot {
  position: absolute;
  height: 100%;
  width: 30%;
}

.three-body__dot:after {
  content: "";
  position: absolute;
  height: 0%;
  width: 100%;
  padding-bottom: 100%;
  background-color: var(--uib-color);
  border-radius: 50%;
}

.three-body__dot:nth-child(1) {
  bottom: 5%;
  left: 0;
  transform: rotate(60deg);
  transform-origin: 50% 85%;
}

.three-body__dot:nth-child(1)::after {
  bottom: 0;
  left: 0;
  animation: wobble1 var(--uib-speed) infinite ease-in-out;
  animation-delay: calc(var(--uib-speed) * -0.3);
}

.three-body__dot:nth-child(2) {
  bottom: 5%;
  right: 0;
  transform: rotate(-60deg);
  transform-origin: 50% 85%;
}

.three-body__dot:nth-child(2)::after {
  bottom: 0;
  left: 0;
  animation: wobble1 var(--uib-speed) infinite calc(var(--uib-speed) * -0.15)
    ease-in-out;
}

.three-body__dot:nth-child(3) {
  bottom: -5%;
  left: 0;
  transform: translateX(116.666%);
}

.three-body__dot:nth-child(3)::after {
  top: 0;
  left: 0;
  animation: wobble2 var(--uib-speed) infinite ease-in-out;
}
